.container
  .row.mb-3
    .col.text-left
      a.btn.btn-secondary href="/manage_expendables/#{@house.id}"
        = fa_icon('chevron-left', class: 'fa-fw')
        | 戻る
    .col.text-center.category-label-house
      strong #{@house.name}
      label の消耗品管理
    .col.text-right
      a.btn.btn-secondary href="/manage_expendables_post/#{@house.id}"
        | メール送信
        = fa_icon('chevron-right', class: 'fa-fw')
  table.table
    tr
      th No
      th カテゴリ
      th 名前
      th 数
      th

    - if @expendable_choices.present?
      - @expendable_choices.each_with_index do |expendable, index|
        tr
          td.td-min.text-center #{index + 1}
          td #{expendable.expendable.category.name}
          td #{expendable.expendable.name}
          td.td-min.text-center id="choice-#{expendable.id}" #{expendable.amount}
          td.td-min
            span onclick="plus(#{expendable.id})"
              = fa_icon('plus-square', class: 'fa-3x text-secondary')
            span onclick="minus(#{expendable.id}, #{expendable.expendable.id})"
              = fa_icon('minus-square', class: 'fa-3x text-secondary ml-3')
            
javascript:
  function plus(choiceId, expendableId) {
    
    $.ajax({
      type: 'PUT',
      url: '/api/manage_expendables/plus',
      dataType: 'json',
      data: { expendable_choice: {
        'id': choiceId
        }
      },
      success: function (data) {
        choiceElm = document.getElementById('choice-' + choiceId);
        choiceElm.innerText = parseInt(choiceElm.innerText) + 1;

      },
      error: function () {
        console.log('ng')

      }
    });
  }


  function minus(choiceId, expendableId) {

    $.ajax({
      type: 'PUT',
      url: '/api/manage_expendables/minus',
      dataType: 'json',
      data: { expendable_choice: {
        'id': choiceId
        }
      },
      success: function (data) {
        choiceElm = document.getElementById('choice-' + choiceId);
        choiceElm.innerText = parseInt(choiceElm.innerText) - 1;

      },
      error: function () {
        console.log('ng')

      }
    });
  }