// Place all the styles related to the col controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
  width: 350px;
  background-color: white;
  border: 1px solid #aaa;
  margin: 0 auto;
  margin-top: 125px;

  padding: 30px;
  // border-radius: 5px;

}

.btn-login {
  width: 100%;

}
